// *************************************
//
//   Article
//   -> Documentation content item
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .card.article(.has-article-footer)
//   / ...
//   .article-footer
//     / ...
//
// *************************************

.article
  padding: $b-space-s

// -------------------------------------
//   Context
// -------------------------------------

.has-article-footer
  padding-bottom: $b-space-xs

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Footer ----- //

.article-footer
  border-top: $article-section-border
  margin-left: -$b-space-s
  margin-right: -$b-space-s
  padding-left: $b-space-s
  padding-right: $b-space-s
  padding-top: $b-space-xs
