// *************************************
//
//   Muted Link
//   -> Low-profile link
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .mutedLink
//
// *************************************

.mutedLink
  color: $mutedLink-color
  font-weight: inherit

  &:hover,
  &:focus
    color: $mutedLink-color-hover
