%li.card.list-item.article.has-signal{ class: ('has-article-footer' if article.tags.any? )}
  = article.signal
  = link_to article.title, article, class: 'article-title'
  - if article.tags.any?
    .article-footer
      %ul.list.list--inline.list--inline--xs
        - article.tags.each do |t|
          %li.list-item= link_to t.name, tag_path(t), class: 'label label--link'
