.split.bdrb.mbs.pbxs
  .split-cell
    %h2.label Metrics
.mbf.tcs.tsi.tss
  = render partial: 'shared/icon', locals: { icon: 'user', padded: true }
  = pluralize(@article.views.count, "reader")
  = render partial: 'shared/icon', locals: { icon: 'eye', padded: true, klass: 'pls' }
  = pluralize(@article.visits, "view")
