- if @article.archived?
  %p.bulletin.bulletin--warning This article has been archived. Please don't trust the information displayed here.
- if @article.outdated?
  %p.bulletin.bulletin--warning This article was reported as outdated #{@article.outdatedness_reporter} on #{@article.outdated_at}. The information is partially or completely out-of-date.
- if @article.stale?
  %p.bulletin.bulletin--notice.tct This article has gone stale. It hasn't been updated in a while so the information may be slightly out-of-date.
