%li.list-item.tsm
  - # TODO(Versions): Add 'is-active' class to current version
  = link_to version.created_at, article_version_path(@article, version),
    class: 'js-datetime',
    data: { datetime: 'datetime' },
    datetime: version.created_at
