%section.row
  .cell.well.well--l

    = render partial: 'articles/search'

    .mtm.tar
      = link_to 'Article Subscriptions', subscriptions_path, class: 'button button--b mrs'
      = link_to 'Article Endorsements', endorsements_path, class: 'button button--b'
