<% new_article_link = link_to("create one", new_article_path(title: params[:search])) %>

( function() {
  var fallback = "We didn't find an article whose title or content matches. Why not <%= escape_javascript(new_article_link) %></a>?";
  var articleMarkup = "<%= escape_javascript( render( @articles ) ) %>";

  $( '.js-search-results' ).html( articleMarkup );

  // there are matching results
  if ( articleMarkup ) {
    $( '.js-search-results' ).html( articleMarkup );

  // there are no matching results
  } else {
    $( '.js-search-results' ).html( fallback );
  }
} )();
