%main.row
  .cell.well.well--l

    %h1 Authors
    .g
      .g-b.g-b--m--1of2
        .form.form--inline.mbm
          = form_tag authors_path, method: :get, remote: true, class: 'form js-search-form' do
            = search_field_tag :search, params[:search],
              class: 'js-search-input form-input',
              placeholder: 'Search authors by name or shtick',
              autofocus: true

    .g.collection.collection--s--1of2.collection--m--1of3.collection--l--1of3.mbm.js-author-list
      = render partial: 'authors/author', collection: @authors

    = link_to 'New Author', new_author_path, class: 'btn btn--b'
