%section.row
  .cell.well.well--l
    .g
      .g-b.g-b--m--2of3

        %p.label.mbxs Request update for "#{@article.title}"

        .form
          = simple_form_for @update_request, url: article_update_requests_url(@article) do | f |

            .form-field
              = f.input_field :description, rows: 10, class: 'form-input form-textarea', placeholder: 'What needs to be updated?'

            = f.button :submit, class: 'btn btn--a btn--l'
