development: &defaults
  exception_reporter: false
  logo: false
  oauth_provider: false
  performance_monitoring: false
  transactional_mailer: false
  upload_destination: :localhost
  article_notifications:
    updated: true
    stale: true
    outdated: true
    archived: true

production: &production
  exception_reporter: <%= ENV["ORIENTATION_EXCEPTION_REPORTER"] %>
  transactional_mailer: <%= ENV["ORIENTATION_MAILER"] %>
  logo: <%= ENV["ORIENTATION_LOGO"] %>
  oauth_provider: <%= ENV["ORIENTATION_OAUTH"] %>
  performance_monitoring: <%= ENV["ORIENTATION_PERFORMANCE_MONITORING"] %>
  upload_destination: <%= ENV["ORIENTATION_UPLOAD_DESTINATION"] %>
  article_notifications:
    updated: <%= ENV["ORIENTATION_ARTICLE_UPDATED"] %>
    stale: <%= ENV["ORIENTATION_ARTICLE_STALE"] %>
    outdated: <%= ENV["ORIENTATION_UPLOAD_OUTDATED"] %>
    archived: <%= ENV["ORIENTATION_UPLOAD_ARCHIVED"] %>
    endorsed: <%= ENV["ORIENTATION_UPLOAD_ENDORSED"] %>

staging:
  <<: *production

test:
  <<: *defaults
