@import bourbon

.simple_form
  label
    display: block
    clear: left
    font-weight: bold
    padding-left: .5em

  input, textarea
    display: block
    clear: both

    &[type=text], &[type=email]
      max-width: 100%

  input[type=submit]
    margin: 1em 0 1em 1em
