%p.label.mbxs= label_text
= simple_form_for @tag do | f |

  %fieldset.form-field.mbl

    = f.input_field :name, class: 'form-input', placeholder: 'Enter a Tag Name'

  = f.button :submit, class: 'btn btn--a btn--l'
