= simple_form_for @tag do | f |

  %fieldset.form-field.mbl

    = f.label :name do
      %span.form-label.label Tag Name
      = f.input_field :name, class: 'form-input'

  = f.button :submit, class: 'button button--a button--l'
