- categories = %w[support billing subscription security course development tutorial]

- unless tags.empty?
  - tags.each do |tag|
    - if categories.include?(tag.name)
      = render "tags/tag_category", tag: tag