%section.row
  .cell.cell--s.well.well--l

    %h1.mbs= @tag

    - if @tag.articles.any?
      %ul.list.list--xs
        - @tag.articles.each do |article|
          - # TODO: Add Article fresh/stale/rotten signals
          %li.card.list-item.article
            = link_to article, article, class: 'article-title'
