%main.row
  .cell.cell--s.well.well--l
    %h1.mbs= @tag

    - unless @tag.articles.empty?
      %ul.list
        - @tag.articles.each do |article|
          %li.card.list-item.article
            = link_to article, article, class: 'article-title'
