%section.row
  .cell.well.well--l

    %h1{ :align => 'center' } UH OH!

    %p{ :align => 'center' } This Article Does Not Exist
    %p{ :align => 'center' }
      %a{ :href => "/articles/new?slug=#{@slug}" } CREATE IT
