// *************************************
//
//   Split
//   -> Horizontally repellent content
//      CodePen: http://codepen.io/johndjameson/pen/nKcep
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .split
//   .split-cell Split cell
//   .split-cell Split cell
//
// *************************************

.split
  align-items: baseline
  display: flex

// -------------------------------------
//   Modifiers
// -------------------------------------

.split--responsive
  +respond-to($g-m, 'max-width')

    .split-cell
      display: block

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Cell ----- //

.split-cell

  &:first-child
    flex-grow: 1

  &:last-child
    flex-shrink: 0
