%codeblock
  color: #fff 
  font:
    size: 0.9em
    family: "SourceCodePro"
  background: #333
  border-radius 3px

body.articles
  h1
    font-size: 2em

  p, .highlight
    font-size: 1.1em
    max-width: 800px
    margin-bottom: 1em

  label
    display: block
  input, textarea
    clear: left
    display: block

  form
    textarea
      margin-bottom: 1em
      min-height: 20em
      min-width: 40em

  footer
    font:
      size: .8em
    text-align: right

  code 
    @extend %codeblock
    font:
      size: .8em
    padding: 0 5px

  blockquote
    @extend %codeblock
    padding: 0.75em 1em
    border-left: 10px solid #555
    margin: 1em 0

  .highlight
    pre
      @extend %codeblock
      overflow: scroll
      padding: 0.5em 1em .5em .5em

  .markdown
    h1
      font-size: 4em
    h2
      font-size: 1.5em
    h3
      font-size: 3em
    h4
      font-size: 2em
    li
      margin: 5px 0
    ul
      margin-left: 15px
      list-style: disc
      ul
        list-style: circle
        margin: 2px 18px
      ol
        list-style: lower-roman
        margin: 2px 18px
    ol
      list-style: decimal
      margin-left: 15px
      ol
        list-style: lower-roman
        margin: 2px 18px
      ul
        list-style: circle
        margin: 2px 18px

body.articles-index
  ul
    clear: both

  .search-bar
    +clearfix
    input[type=text]
      width: 333px
      float: left
      margin-top: 0
    input[type=submit]
      clear: none
      font-size: 1.1em
      height: 36px