// Place all the styles related to the authors controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

body.authors
  h2
    font:
      size: 1.2em

body
  .author
    clear: both
    line-height: 2.2
    .avatar
      float: left
      width: 70px
      height: 70px
      margin-right: 0.5em
      border-radius: 50%
