<p>Howdy</p>

<p>Someone has marked this article as rotten: <a href="<%= @email_vars['URL'] %>" target="_blank"><%= @email_vars['ARTICLE_TITLE'] %></a>.</p>

<blockquote><%= @email_vars['DESCRIPTION'] %></blockquote>

<p>They would really appreciate it if you could <a href="<%= @email_vars['URL'] %>" target="_blank">take a moment to update it</a>.</p>

<p>Just so you know, anyone who subscribes to your article will be emailed once you update it, so I bet you'll get major brownie points for that.</p>

<p>Thanks for fighting internal knowledge rot,<br/>
<strong>Cron McMailer.</strong></p>
