<p>Hey</p>

<p>*|ENDORSER_NAME|* found <a href="*|URL|*" target="_blank">*|ARTICLE_TITLE|*</a> so useful they endorsed it.</p>

<p>That must feel nice.</p>

<p>Oh, and your hair looks amazing today,<br/>
<strong>HAL.</strong></p>