<p>Howdy,</p>

<p>Someone has marked this article as rotten: <a href="<%= @email_vars['URL'] %>" target="_blank"><%= @email_vars['ARTICLE_TITLE'] %></a>.</p>

<hr>
<p>Update Requested:</p>
<p><strong><%= @email_vars['DESCRIPTION'] %></strong></p>
<hr>

<p>They would really appreciate it if you could <a href="<%= @email_vars['URL'] %>" target="_blank">take a moment to update it</a>.</p>

<p>Anyone who subscribes to your article will be emailed once you update it, so I bet you'll get major brownie points for that.</p>
