<p>Howdy</p>

<p>Someone has marked this article as rotten: <a href="*|URL|*" target="_blank">*|ARTICLE_TITLE|*</a>.</p>

<p>This kind of a mean way for them to say they noticed it was out of date and would really appreciate it if you could <a href="*|URL|*" target="_blank">take a moment to update it</a>.</p>

<p>Just so you know, anyone who subscribes to your article will be emailed once you update it, so I bet you'll get major brownie points for that.</p>

<p>Thanks for fighting internal knowledge rot,<br/>
<strong>Cron McMailer.</strong></p>