<p>Hey</p>

<p><%= @email_vars['ENDORSER_NAME'] %> found <a href="<%= @email_vars['URL'] %>" target="_blank"><%= @email_vars['ARTICLE_TITLE'] %></a> so useful they endorsed it.</p>

<p>That must feel nice.</p>

<p>Oh, and your hair looks amazing today,<br/>
<strong>HAL.</strong></p>
