<p>Howdy</p>

<p>The following articles you wrote have been marked as rotten by your peers:</p>

<ul>
  <%= @email_vars['CONTENT'] %>
</ul>

<p>Do you mind taking a look to see if they're still up-to-date? If everything looks good, you can hit the "Mark Fresh" link.</p>

<p>Thanks for fighting internal knowledge rot</p>
