<p>Howdy</p>

<p>It's been at least 6 months since you wrote these Orientation articles:</p>

<ul>
  <%= @email_vars['CONTENT'] %>
</ul>

<p>Do you mind taking a look to see if they're still up-to-date? If everything looks good, you can hit the "Mark Fresh" link.</p>

<p>Thanks for fighting internal knowledge rot</p>
