- unless guides.empty?
  .g.js-guides
    - guides.each do |guide|
      .g-b.g-b--m--1of2.g-b--l--1of3.mbm
        = link_to guide do
          .card.card--highlight.guide
            .guide-content
              %h2.guide-title= guide.title.titleize
              -# TODO(Olivier): Implement the number of articles in this guide
              %p.guide-meta # Articles
