- unless guides.empty?
  .g.collection
    - guides.each do |guide|
      .g-b.g-b--m--1of2.g-b--l--1of3.collection-item
        = link_to guide do
          .card.card--highlight.guide
            .guide-content
              %h2.guide-title= guide.title
