%main.row
  .cell.cell--s.well.well--l

    - #TODO(Olivier): Display tags sorted alphabetically in sections
    %h1 Guides
    %ul.list.js-guides
      - if @articles
        - @articles.each do |article|
          %li.list-item.mbxs
            = link_to article, article, class: 'label label--link'
            = find_and_preserve do
              = markdown(article.content || "No content")
